#cita{
  letter-spacing: 2px;

}

#cita a{
  color: #fff;
  text-decoration: none;
}

form{
  padding: 40px 20px;
  width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-top: 18px; /* parte superior*/
  padding-top: 18px;
  margin-bottom: 30px
}
h2{
  margin-bottom: 20px;
}
input, select{
  margin-bottom: 20px;
  padding: 50px;
  font-size: 17;
}
button{
  margin-bottom: 10px;
}
@media (max-width: 480px){
  form{
    width: 100%;
  }
}
